<html>
<head>
  <meta charset="utf-8">
  <title>Weather Fun</title>
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0">

  <link href="weather.css" rel="stylesheet"/>
</head>

<body ng-app = 'weatherApp'>
  <h1>Weather Fun</h1>
  <h2 id="weather"><i></i><span class="conditions"></span></h2>
  <h4><small><span class="last-update"></span><span class="when"></span></small></h4>

  <div class="container-fluid" ng-controller="WeatherCtrl">
    <input type="text" ng-model="wCity" placeholder="City Wok"/>
    <!--<button class="button" onclick="updateConditions()" >DoIt</button>-->
    <button class="button" ng-click="doit()">DoIt</button>
    <h3>{{ wCity }}</h3>
  </div>


  <script src="scripts/vendor/jquery/dist/jquery.min.js"></script>
  <script src="scripts/vendor/moment/min/moment.min.js"></script>
  <script src="scripts/vendor/angular/angular.js"></script>
  <script src="./weather.js"></script>

  <script>
//    var wCity;
    angular.module('weatherApp', [])
        .run(function($rootScope) {
          $rootScope.wCity = 'Omaha';
//          wCity = $rootScope.wCity;
        })
        .controller('WeatherCtrl', function($scope) {
          $scope.doit = function() {console.log("doing it..")};
        });

    blerg = 0; //temporary, for clearing timer from the console

// TODO remove jQuery onReady function and doit in angular way
// TODO do i need to have a $Watch on wCity?

    var updateConditions = function() {
      var weatherCity ='<span style="text-decoration: underline;">' + 'Austin' + '</span>';
      var lastUpdate;
      var updateTimeInterval = function () {
        //console.log('times change: ' + lastUpdate.fromNow());
        $('.when').text(lastUpdate.fromNow());
        blerg=setTimeout(updateTimeInterval, 55000);
      };
      var updateTime = function () {
        lastUpdate = moment();
        $('.last-update').html('Last Updated for ' + weatherCity + ': ');
        $('.when').text(lastUpdate.fromNow());
        setTimeout(updateTimeInterval, 55000);
      };
      Weather.getCurrent('Austin', function(current) {
        $('#weather').find('.conditions').text(Weather.kelvinToFahrenheit(current.temperature()).toFixed() + '° and ' + current.conditions());
        $('#weather').find('i').addClass('icon-' + current.data.weather[0].id);
        updateTime();
      });
    };
  </script>
</body>
</html>
